// font-family: 'Krub', sans-serif;
// font-family: 'Rubik', sans-serif;
// ____________Fonts-width___________
// Rubik:       \  Krub:
// Regular 400  \  Regular 400
// Medium 500   \  Medium 500
// SemiBold 600 \  Medium 500 Italic
// Bold 700     \ SemiBold 600
// _________________________________

// fonts

$primary-font: 'Krub', sans-serif;
$secondary-font: 'Rubik', sans-serif;

// color
$primary1-color: #FFBE34;
$primary2-color: #091242;
$primary3-color: #F4F4F4;
$heading-color: #1C1F35;
$paragraph-color: #666C89;
$gradient-color: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 53%, rgba(255,215,166,1) 100%);;

// size

$font-size-base: 16px;
$font-size-secondary: 20px;
$font-size-heading: 35px;
$font-size-subheading: 25px;

// animation

$animation-duration: 0.5s;

